[Unit]
Description=engage followers
ConditionPathExists=/home/engagefollowers/engagefollowers
After=network.target

[Service]
Type=simple
User=engagefollowers
Group=engagefollowers
AmbientCapabilities=CAP_NET_BIND_SERVICE

Restart=always
RestartSec=10
StartLimitInterval=60
Environment="FRAG_ENV=production"

LimitNOFILE=1024

WorkingDirectory=/home/engagefollowers/engagefollowers
ExecStart=/home/engagefollowers/engagefollowers/engagefollowers

PermissionsStartOnly=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=engagefollowers


[Install]
WantedBy=multi-user.target