.DS_Store
*-workspace
bin/*
db/backup/*
log/*
!log/.gitkeep
certs/*
!certs/.gitkeep
vendor
secrets/assets.json
public/assets/scripts/app-*
public/assets/styles/app-*
engagefollowers
.idea/*
.vscode/*
