.DS_Store
*-workspace
bin/*
db/backup/*
log/*
!log/.gitkeep
certs/*
!certs/.gitkeep
vendor
secrets/assets.json
public/assets/scripts/app-*
!public/assets/scripts/.gitkeep
public/assets/styles/app-*
!public/assets/styles/.gitkeep
engagefollowers
.idea/*
.vscode/*
.patch
